@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Dancing Script", cursive;
  background-color: #fffaeb;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  transition: transform 0.8s;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  opacity: 1;
  filter: blur(0.5px) grayscale(30%);
  box-shadow: 0px 40px 80px rgba(76, 28, 75, 0.704);
  background-color: rgb(249, 217, 255);
  perspective: 10rem;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card:hover {
  filter: none;
  transform: rotateX(0deg);
  box-shadow: 0px 5px 10px rgba(76, 28, 75, 0.704);
}

.card-writer {
  position: absolute;
  top: 15%;
  text-align: left;
  font-size: 220%;
  color: rgb(0, 0, 0);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  white-space: pre-wrap;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0%;
}

.ll-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.ll {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  opacity: 1;
  filter: blur(0.5px) grayscale(20%);
  box-shadow: 0px 25px 60px rgba(106, 109, 109, 0.704);
  background-color: #ff8dc2;
  perspective: 10rem;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transform-origin: center;
}

.ll:hover {
  filter: none;
  opacity: 1;
  transform: rotateX(0deg);
  box-shadow: 0px 5px 10px rgba(137, 142, 142, 0.837);
}

.ll-title,
.ll-signature,
.ll-ps {
  position: absolute;
  text-align: left;
  left: 4%;
  font-size: 140%;
  color: rgb(0, 0, 0);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  white-space: pre-wrap;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 10%;
}

.ll-title {
  top: 3%;
}

.ll-signature {
  bottom: 20%;
}

.ll-ps {
  bottom: 10%;
}

.options {
  position: relative;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 80%;
}

.option {
  width: 100%;
  height: 100%;
  filter: grayscale(85%);
  transition: filter 0.8s ease;
  font-size: 2rem; /* Increase the font size */
}

.option:hover {
  transition: filter 0.8s ease;
  filter: grayscale(0%);
  color: #ffffff;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.photos-hidden {
  opacity: 0;
}

.photos-fade-in {
  opacity: 0;
  animation: photosFadeIn 2s forwards;
  animation-delay: 0s;
}

@keyframes photosFadeIn {
  to {
    opacity: 1;
  }
}

.heart {
  position: absolute;
  top: 30%;
  width: 75px;
  height: 75px;
  background-color: #ff9fdf;
  transform: rotate(-45deg);
  margin: 50px auto;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #ff9fdf;
  border-radius: 50%;
}

.heart::before {
  top: -38px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 38px;
}

.fade-out {
  animation: fadeOut 0.8s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(180deg);
  }
}

@keyframes foldIn {
  0% {
    transform: translate(-50%, -50%) rotateX(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.fold-in {
  animation: foldIn 1.6s forwards;
}

@media screen and (max-width: 500px) {
  .card-container {
    width: 300px; /* mobile */
    height: 280px;
  }

  .card-writer {
    font-size: 160%; /* Adjust font size for mobile */
  }

  .ll-container {
    width: 330px; /* mobile */
    height: 500px;
    font-size: 90%;
  }

  .option {
    font-size: 140%;
  }
}
